<header>
  <div>
    <h1>Wish list</h1>
    <a [routerLink]="['/country-list']">>> Country list</a>
  </div>
</header>

<section>
  <div *ngFor="let country of wishlist" class="country country--static">
    <h2>{{ country.name }}</h2>
    <img src="{{ country.flag }}" alt="{{ country.name }}">
    <p>Region: {{ country.region }}</p>
    <p>Population: {{ country.population }}</p>
    <button (click)="onRemoveCountry(country.id)">Remove from list</button>
  </div>
</section>
