<header>
  <div>
    <h1>Country details:</h1>
    <nav>
      <ul>
        <li><a [routerLink]="['/country-list']">>> Country list</a></li>
        <li><a [routerLink]="['/wish-list']">>> Wish list</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>
  <div *ngIf="loading" class="country country--static">
    <p>Country loading...</p>
  </div>
  <div *ngIf="isAddedCountry" class="country country--static">
    <h3>{{ message }}</h3>
  </div>
  <div *ngIf="!loading && !isAddedCountry" class="country country--static">
    <h2>{{ selectedCountry.name }}</h2>
    <img src="{{ selectedCountry.flag }}" alt="{{ selectedCountry.name }}">
    <p>Region: {{ selectedCountry.region }}</p>
    <p>Population: {{ selectedCountry.population }}</p>
    <button (click)="addCountry(selectedCountry.id)">Add to wishlist</button>
  </div>
</section>
