<!-- <div class="container">
  <div class="left">
    <app-country-list-container></app-country-list-container>
  </div>
  <div class="right">
    <app-country-details-container></app-country-details-container>
  </div>
</div> -->
<router-outlet></router-outlet>
