<header>
  <div>
    <h1>Countries</h1>
    <a [routerLink]="['/wish-list']">>> Wish list</a>
  </div>
  <form>
    <label for="region">Select region</label>
    <select name="region" id="region" (change)="onSelectRegion($event.target.value)">
      <option value="{{ selectedRegion }}">{{ selectedRegion }}</option>
      <option value="{{ region }}" *ngFor="let region of regions">{{ region }}</option>
    </select>
  </form>
</header>

<div class="country country--static" *ngIf="loading">
  <p>Loading countries...</p>
</div>

<main *ngIf="!loading">
  <section *ngIf="countries" class="countries">
    <div *ngFor="let country of countries" class="country">
      <span><strong>{{ country.name }}</strong></span>
      <span>{{ country.region }}</span>
      <a [routerLink]="['/country-details', country.id]" (click)="onSelectCountry(country.id)">>> More details</a>
    </div>
  </section>
</main>
