@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$font: 'Raleway', sans-serif;
$font-size: 1.6rem;

$font-color-primary: #000000;
$background-color-primary: #d5e6ef;
$background-color-secundary: #eeeeee;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font;
  font-size: $font-size;
  background-color: $background-color-secundary;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100px;
  background-color: $background-color-primary;
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  border: 1px solid black;
}

main {
  margin-top: 20px;
}

img {
  height: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

label {
  font-weight: bold;
  font-size: 1.6rem;
}

select {
  margin-left: 10px;
  font-family: $font;
  font-size: $font-size;
}

a {
  color: $font-color-primary;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  margin-top: 1rem;
  background-color: $background-color-secundary;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: .5rem .2rem .5rem .2rem grey;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    transform: translateY(3px);
    box-shadow: .2rem .1rem .1rem .1rem grey;
  }
}

.container {
  display: flex;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: $background-color-primary;
  padding: 10px;
  border: 1px dotted black;
  border-radius: 10px;
}
  .country--static {
    margin-top: 2rem;
    padding: 2rem;
  }
